base-de-dados-challenge-1/loja_1.csv
base-de-dados-challenge-1/loja_2.csv
base-de-dados-challenge-1/loja_3.csv
base-de-dados-challenge-1/loja_4.csv
__pycache__/analise_faturamento.cpython-314.pyc
__pycache__/importacao.cpython-314.pyc
__pycache__/vendas_por_categoria.cpython-314.pyc
__pycache__/produtos_mais_menos_vendidos.cpython-314.pyc
__pycache__/media_avaliacao_lojas.cpython-314.pyc
__pycache__/frete_medio_por_loja.cpython-314.pyc
AluraStoreBrasil.ipynb
challenge1-data-science-main.code-workspace
